[submodule "firmware/wolfssl"]
	path = firmware/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "firmware/ms-tpm-20-ref"]
	path = firmware/ms-tpm-20-ref
	url = https://github.com/franos-cm/ms-tpm-20-ref.git
	branch = baremetal-build
[submodule "dilithium-rtl"]
	path = dilithium-rtl
	url = https://github.com/franos-cm/dilithium-rtl.git
	branch = petalite-compat
