[submodule "firmware/wolfssl"]
	path = firmware/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "dilithium-rtl"]
	path = soc/cores/dilithium-rtl
	url = https://github.com/franos-cm/dilithium-rtl.git
	branch = petalite-compat
[submodule "firmware/pq-tpm"]
	path = firmware/pq-tpm
	url = https://github.com/franos-cm/pq-tpm.git
	branch = main
[submodule "firmware/dilithium-ref"]
	path = firmware/dilithium-ref
	url = https://github.com/franos-cm/dilithium-ref.git
